<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/global.css" type="text/css">
    <link rel="stylesheet" href="/styles/error.css" type="text/css">
    <title>Zach's banner thing | Error</title>
  </head>
  <body>

    <div class="errorWindow">
      <div class="errorWindowTitle">Error</div>
      <div class="errorContent">
        <% if (title) { %>
          <p class="errorTextTitle"><%= title %></p>
        <% } %>
        <% if (body) { %>
          <p><%= body %></p>
        <% } %>
      </div>
      <div class="errorWindowButtons">
        <button onclick="window.location = '/'">Back to home</button>
      </div>
    </div>

  </body>
</html>